test-1.key filter=git-crypt diff=git-crypt
keys-dir/** filter=git-crypt diff=git-crypt
*.settings.tf filter=git-crypt diff=git-crypt
subdir/deep/key.txt filter=git-crypt diff=git-crypt
NOT_EXISTS_DIR/** filter=git-crypt diff=git-crypt
